{{#each servants as |servant|}}
  {{log servant}}
  <div class='border' data-id="{{servant.id}}">
    <h5>Name: {{servant.name}}</h5>
    <h5>Class: {{servant.sclass}}</h5>
    <form class="show-servant-button btn" data-id="{{servant.id}}">
      <fieldset>
        <input type='submit' value='Details'>
      </fieldset>
    </form>
  </div>

{{/each}}
