<div class='sort-options'>
  <button class='by-class'>Sort by Class</button>
  <button class='by-attack'>Sort by ATK</button>
  <button class='by-health'>Sort by HP</button>
  <button class='by-balance'>Balanced Sort</button>
</div>

{{#each servants as |servant|}}

  <div class='border servants-display' data-id="{{servant.id}}">
    <div class="col-3">Name: {{servant.name}}</div>
    <div class="col-2">Class: {{servant.sclass}}</div>
    <div class="col-2">Rarity: {{servant.rarity}}</div>
    <form class="show-servant-button btn" data-id="{{servant.id}}">
      <fieldset>
        <input type='submit' value='Details'>
      </fieldset>
    </form>
  </div>

{{/each}}
