{{#if servant}}
  {{log servant}}
  <div class='show-servant'>
    <div class='border single-servant' data-id="{{servant.id}}">
      <h5>Name: {{servant.name}}</h5>
      <h5>Class: {{servant.sclass}}</h5>
      <h5>Rarity: {{servant.rarity}}-star</h5>
      <h5>Level: {{servant.level}}</h5>
      <h5>Attack: {{servant.atk}}</h5>
      <h5>Health: {{servant.hp}}</h5>
      <!-- <button class='btn show-button'>Show Details</button> -->
      <button class='update'>Update</button>
      <button class='btn btn-danger delete-button' data-id="{{servant.id}}">DELETE</button>
    </div>
  </div>
{{/if}}
