{{#if servant}}
  <div class='show-servant'>
    <div class='border single-servant' data-id="{{servant.id}}">
      <!-- <div class="col">Name: {{servant.name}}</div>
      <div class="col">Class: {{servant.sclass}}</div>
      <div class="col">Rarity: {{servant.rarity}}-star</div>
      <div class="col">Level: {{servant.level}}</div>
      <div class="col">Attack: {{servant.atk}}</div>
      <div class="col">Health: {{servant.hp}}</div> -->
      <div class="key">
        Name: <br>
        Class: <br>
        Rarity: <br>
        Level: <br>
        Attack: <br>
        Health: <br>
        <button class='btn btn-danger delete-button' data-id="{{servant.id}}">DELETE</button>
      </div>
      <div class="value">
        {{servant.name}}<br>
        {{servant.sclass}}<br>
        {{servant.rarity}}<br>
        {{servant.level}}<br>
        {{servant.atk}}<br>
        {{servant.hp}}<br>
        <button class='show-update'>Update</button>
      </div>
    </div>
  </div>
{{/if}}
