{{#if servant}}
  Make sure to fill in all fields, even if you aren't changing them!
  <form class='update-servant' class='border'>
    <fieldset>
      <h5>Name: <input type='text' name='servant[name]' placeholder='{{servant.name}}'></h5>
      <h5>Class: <input type='text' name='servant[sclass]' placeholder='{{servant.sclass}}'></h5>
      <h5>Rarity: <input type='text' name='servant[rarity]' placeholder='{{servant.rarity}}'></h5>
      <h5>Level: <input type='text' name='servant[level]' placeholder='{{servant.level}}'></h5>
      <h5>Attack: <input type='text' name='servant[atk]' placeholder='{{servant.atk}}'></h5>
      <h5>Health: <input type='text' name='servant[hp]' placeholder='{{servant.hp}}'></h5>
      <h5><input type='submit' value='Update Servant'></h5>
    </fieldset>
  </form>
{{/if}}
